USE [master]
GO
/****** Object:  Database [NyamDatabase]    Script Date: 11.04.2024 19:29:19 ******/
CREATE DATABASE [NyamDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NyamDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NyamDatabase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NyamDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NyamDatabase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NyamDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NyamDatabase]
GO
/****** Object:  Table [dbo].[Bludo]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bludo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](150) NULL,
	[Opisanie] [text] NULL,
	[Sum] [float] NULL,
	[Photo] [image] NULL,
	[Sslka] [nvarchar](150) NULL,
	[BaseServings] [int] NULL,
 CONSTRAINT [PK_Bludo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Kol] [int] NULL,
	[Sum] [float] NULL,
	[MainInitId] [int] NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainInit]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainInit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_MainInit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OneRechept]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OneRechept](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecheptId] [int] NULL,
	[IngredientId] [int] NULL,
	[Kol] [float] NULL,
	[MainInitId] [int] NULL,
 CONSTRAINT [PK_OneRechept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rechept]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rechept](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Num] [int] NULL,
	[BludoId] [int] NULL,
	[Text] [text] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_Rechept] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakaz]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakaz](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Phone] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[Date] [date] NULL,
	[Adress] [nvarchar](250) NULL,
 CONSTRAINT [PK_Zakaz] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZakazAndBludo]    Script Date: 11.04.2024 19:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZakazAndBludo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BludoId] [int] NULL,
	[ZakazId] [int] NULL,
 CONSTRAINT [PK_ZakazAndBludo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bludo]  WITH CHECK ADD  CONSTRAINT [FK_Bludo_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Bludo] CHECK CONSTRAINT [FK_Bludo_Category]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_MainInit] FOREIGN KEY([MainInitId])
REFERENCES [dbo].[MainInit] ([Id])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_MainInit]
GO
ALTER TABLE [dbo].[OneRechept]  WITH CHECK ADD  CONSTRAINT [FK_OneRechept_Ingredient] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[OneRechept] CHECK CONSTRAINT [FK_OneRechept_Ingredient]
GO
ALTER TABLE [dbo].[OneRechept]  WITH CHECK ADD  CONSTRAINT [FK_OneRechept_MainInit] FOREIGN KEY([MainInitId])
REFERENCES [dbo].[MainInit] ([Id])
GO
ALTER TABLE [dbo].[OneRechept] CHECK CONSTRAINT [FK_OneRechept_MainInit]
GO
ALTER TABLE [dbo].[OneRechept]  WITH CHECK ADD  CONSTRAINT [FK_OneRechept_Rechept] FOREIGN KEY([RecheptId])
REFERENCES [dbo].[Rechept] ([Id])
GO
ALTER TABLE [dbo].[OneRechept] CHECK CONSTRAINT [FK_OneRechept_Rechept]
GO
ALTER TABLE [dbo].[Rechept]  WITH CHECK ADD  CONSTRAINT [FK_Rechept_Bludo1] FOREIGN KEY([BludoId])
REFERENCES [dbo].[Bludo] ([Id])
GO
ALTER TABLE [dbo].[Rechept] CHECK CONSTRAINT [FK_Rechept_Bludo1]
GO
ALTER TABLE [dbo].[ZakazAndBludo]  WITH CHECK ADD  CONSTRAINT [FK_ZakazAndBludo_Bludo] FOREIGN KEY([BludoId])
REFERENCES [dbo].[Bludo] ([Id])
GO
ALTER TABLE [dbo].[ZakazAndBludo] CHECK CONSTRAINT [FK_ZakazAndBludo_Bludo]
GO
ALTER TABLE [dbo].[ZakazAndBludo]  WITH CHECK ADD  CONSTRAINT [FK_ZakazAndBludo_Zakaz] FOREIGN KEY([ZakazId])
REFERENCES [dbo].[Zakaz] ([Id])
GO
ALTER TABLE [dbo].[ZakazAndBludo] CHECK CONSTRAINT [FK_ZakazAndBludo_Zakaz]
GO
USE [master]
GO
